@font-face {
    font-family: "Redacted Script";
    src: url("../fonts/web/redacted-script-regular.eot");
    src: url("../fonts/web/redacted-script-regular.woff2") format("woff2"),
         url("../fonts/web/redacted-script-regular.woff") format("woff"),
         url("../fonts/web/redacted-script-regular.otf") format("opentype"),
         url("../fonts/web/redacted-script-regular.svg#filename") format("svg");
}

.prototype-script {
    font-family: "Redacted Script";
    color: #999;
}
