<div data-magellan-destination="home" class="small-12 columns">
  <h1>Home</h1>
    <div class="prototype-script">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorum pariatur consequatur, optio quod corporis libero neque at amet hic et reiciendis animi natus eveniet quae repellendus earum harum voluptate.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorum pariatur consequatur, optio quod corporis libero neque at amet hic et reiciendis animi natus eveniet quae repellendus earum harum voluptate.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorum pariatur consequatur, optio quod corporis libero neque at amet hic et reiciendis animi natus eveniet quae repellendus earum harum voluptate.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorum pariatur consequatur, optio quod corporis libero neque at amet hic et reiciendis animi natus eveniet quae repellendus earum harum voluptate.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorum pariatur consequatur, optio quod corporis libero neque at amet hic et reiciendis animi natus eveniet quae repellendus earum harum voluptate.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorum pariatur consequatur, optio quod corporis libero neque at amet hic et reiciendis animi natus eveniet quae repellendus earum harum voluptate.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorum pariatur consequatur, optio quod corporis libero neque at amet hic et reiciendis animi natus eveniet quae repellendus earum harum voluptate.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorum pariatur consequatur, optio quod corporis libero neque at amet hic et reiciendis animi natus eveniet quae repellendus earum harum voluptate.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorum pariatur consequatur, optio quod corporis libero neque at amet hic et reiciendis animi natus eveniet quae repellendus earum harum voluptate.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorum pariatur consequatur, optio quod corporis libero neque at amet hic et reiciendis animi natus eveniet quae repellendus earum harum voluptate.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorum pariatur consequatur, optio quod corporis libero neque at amet hic et reiciendis animi natus eveniet quae repellendus earum harum voluptate.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorum pariatur consequatur, optio quod corporis libero neque at amet hic et reiciendis animi natus eveniet quae repellendus earum harum voluptate.
  </div>
</div>
